{% extends "navbar.html" %}
{% block isi %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        #body {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: left;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <div id="body">
        {%for i in notes%}
        <div class="card me-3" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>To :</strong>{{i.to}}</li>
                <li class="list-group-item"><strong>From :</strong>{{i.froms}}</li>
                <li class="list-group-item"><strong>Title :</strong>{{i.title}}</li>
                <li class="list-group-item"><strong>Massage :</strong>{{i.massage}}</li>
            </ul>
        </div>
        {%endfor%}
    </div>
  </body>
</html>
{% endblock isi %}