{% extends "navbar.html" %}
{% block isi %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">To</th>
            <th scope="col">From</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
          {%for i in notes%}
          <tr>
            <td>{{i.to}}</td>
            <td>{{i.froms}}</td>
            <td>{{i.title}}</td>
            <td>{{i.massage}}</td>
          </tr>
          {%endfor%}
        </tbody>
  </table> 
  </body>
</html>
{% endblock isi %}

