<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    {%for i in notes%}
        <p><strong>To :</strong>{{i.to}}</p>
        <p><strong>From :</strong>{{i.froms}}</p>
        <p><strong>Title :</strong>{{i.title}}</p>
        <p><strong>Massage :</strong>{{i.massage}}</p>
        <hr/>
    {%endfor%}
  </body>
</html>
